@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-background: #000000;
    --secondary-background: #121212;
    --left-sidebar-width: 25vw;
    --text-color: #ffffff;
    --nav-color: #090909;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background: var(--primary-background);
}


.container {
    display: flex;
}

.left {
    width: var(--left-sidebar-width);

}

.left .home {
    margin: 10px 5px;
    background: var(--secondary-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.logo img {
    padding: 20px;
    width: 7.5rem;
    filter: invert(1);
}

.logo img:hover {
    cursor: pointer;
}

.home-search-wrapper {
    margin: 0 17px;
}

.home-logo {
    width: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    filter: invert(1);

}

.search-logo {
    margin: 20px 0;
    width: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    filter: invert(1);
}

.home-logo span,
.search-logo span {
    filter: invert(1);
}

.right {
    width: 75vw;
    color: var(--text-color);
}

.library {
    background-color: var(--secondary-background);
    margin: 10px 5px;
    border-radius: 6px;
    height: 70vh;
}

.library-card {
    gap: 10px;
    padding: 20px;
    filter: invert(1);
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.library-card img {
    width: 24px;
    transition: .40s all ease-in-out;


}

.plus-icon:hover {
    cursor: pointer;
    scale: 1.06;
    transition: .40s all ease-in-out;
}

.library-card .library-text {
    font-size: 17px;
    font-weight: 700;
}

.left-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 12px;
    line-height: 20px;
    padding: 15px;
    gap: 10px;
    position: relative;
    top: 12rem;
}

.left-footer a {
    text-decoration: none;
    color: rgb(179, 179, 179);
}

#language {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: .5px solid white;
    border-radius: 10px;
    background-color: #121212;
    color: var(--text-color);
    margin: 28px 0 0 0;
}

#language img {
    width: 20px;
    filter: invert(1);
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    padding: 20px;
    margin: 10px 5px;
    border-radius: 6px;
}

.arrows img {
    width: 20px;
    filter: invert(1);
}

.buttons button {
    padding: 15px;
    border-radius: 35px;
    font-size: 15px;
    border: none;
    width: 100px;
    margin: 0 10px 0 0;
    font-weight: 700;

}

.buttons button:hover {
    cursor: pointer;
    opacity: 0.8;

}

#signup {
    background-color: #3a3939;
    color: #878484;
}

#login {
    background-color: #ffffff;
    color: #000000;
}

.Popular-artist {
    padding: 16px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 10px;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    line-height: 20px;
    width: 190px;
    position: relative;
}

.card img {
    width: 170px;
    border-radius: 50%;
    aspect-ratio: 1;
    margin: 12px;
}

.card:hover,
.card img:hover {
    background-color: #131212;
    cursor: pointer;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #878484;
}

.play img {
    width: 65px;
    position: absolute;
    background-color: transparent !important;
    top: 110px;
    left: 108px;
    opacity: 0;
}

.play img:hover {
    animation: .5s alternate toggle forwards;
}













@keyframes toggle {

    0% {
        opacity: 0;
        top: 130px;
    }

    100% {
        opacity: 1;
        top: 110px;
    }
}