@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-background: #000000;
    --secondary-background: #121212;
    --left-sidebar-width: 25vw;
    --text-color: #ffffff;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background: var(--primary-background);
}


.container {
    display: flex;
}

.left {
    width: var(--left-sidebar-width);

}

.left .home {
    margin: 10px 5px;
    background: var(--secondary-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.logo img {
    padding: 20px;
    width: 7.5rem;
    filter: invert(1);
}

.logo img:hover {
    cursor: pointer;
}

.home-search-wrapper {
    margin: 0 17px;
}

.home-logo {
    width: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    filter: invert(1);

}

.search-logo {
    margin: 20px 0;
    width: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    filter: invert(1);
}

.home-logo span,
.search-logo span {
    filter: invert(1);
}

.right {
    width: 75vw;
}

.library {
    background-color: var(--secondary-background);
    margin: 10px 5px;
    border-radius: 6px;
    height: 70vh;
}

.library-card {
    gap: 10px;
    padding: 20px;
    filter: invert(1);
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.library-card img {
    width: 24px;
    transition: .40s all ease-in-out;


}

.plus-icon:hover {
    cursor: pointer;
    scale: 1.06;
    transition: .40s all ease-in-out;
}

.library-card .library-text {
    font-size: 17px;
    font-weight: 700;
}

.left-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 12px;
    line-height: 20px;
    padding: 15px;
    gap: 10px;
    position: relative;
    top: 18rem;
}

.left-footer a {
    text-decoration: none;
    color: rgb(179, 179, 179);
}