@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-background: #000000;
    --secondary-background: #121212;
    --left-sidebar-width: 25vw;
    --right-sidebar-width: 75vw;
    --text-color: #ffffff;
    --nav-color: #101010;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background: var(--primary-background);
}


.container {
    display: flex;
}

.line {
    padding: .5px;
    background-color: #878484;
    opacity: 0.4;
    margin: 0px 10px;
    border-radius: 10px;
}

.left {
    width: var(--left-sidebar-width);

}

.left .home {
    margin: 10px 5px;
    background: var(--secondary-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.logo img {
    padding: 20px;
    width: 7.5rem;
    filter: invert(1);
}

.logo img:hover {
    cursor: pointer;
}

.home-search-wrapper {
    margin: 0 17px;
}

.home-logo {
    width: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    filter: invert(1);

}

.search-logo {
    margin: 20px 0;
    width: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    filter: invert(1);
}

.home-logo span,
.search-logo span {
    filter: invert(1);
}

.right {
    width: var(--right-sidebar-width);
    color: var(--text-color);
    position: relative;
}

.library {
    background-color: var(--secondary-background);
    margin: 10px 5px;
    border-radius: 6px;
    height: 70vh;
}

.library-card {
    gap: 10px;
    padding: 20px;
    filter: invert(1);
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.library-card img {
    width: 24px;
    transition: .40s all ease-in-out;
}

.plus-icon:hover {
    cursor: pointer;
    scale: 1.06;
    transition: .40s all ease-in-out;
}

.library-card .library-text {
    font-size: 17px;
    font-weight: 700;
}

.songLists {
    margin: 0 20px 10px 20px;
    max-height: 27vh;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #101010 #000000;
}

.songLists::-webkit-scrollbar {
    width: 10px;
}

.songLists::-webkit-scrollbar-track {
    background: #101010;
}

.songLists::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 2px solid #101010;
}

.songLists ul {
    color: var(--text-color);
}

.songLists ul li .music-icon {
    width: 35px;
    filter: invert(1);
}

.songLists ul li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-content: first baseline;
    line-height: 19px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 1px solid rgba(130, 132, 132, 0.444);
    padding: 10px;
    border-radius: 10px;
    margin: 12px;
}

.song-info {
    padding-right: 58px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-info div {
    font-size: 12px;
}

.library-play-icon img {
    width: 30px;
    cursor: pointer;

}

.left-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 12px;
    line-height: 20px;
    padding: 15px;
    gap: 10px;
    margin: 25px 0;

}

.left-footer a {
    text-decoration: none;
    color: rgb(179, 179, 179);
}

.hamburger {
    display: none;
}

#close-icon {
    display: none;
}

#language {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: .5px solid white;
    border-radius: 10px;
    background-color: #121212;
    color: var(--text-color);
    margin: 28px 0 0 0;
}

#language img {
    width: 20px;
    filter: invert(1);
}

#language:hover {
    cursor: pointer;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    padding: 20px;
    margin: 10px 5px;
    border-radius: 6px;
    height: 60px;
}


.arrows img {
    width: 20px;
    filter: invert(1);
}

.buttons button {
    padding: 15px;
    border-radius: 35px;
    font-size: 15px;
    border: none;
    width: 100px;
    margin: 0 10px 0 0;
    font-weight: 700;

}

.buttons button:hover {
    cursor: pointer;
    opacity: 0.8;
    scale: 1.05;

}

#signup {
    background-color: transparent;
    color: #a7a7a7;
}

#login {
    background-color: #ffffff;
    color: #000000;
}

.Popular-artist {
    padding: 16px;
    height: 65vh;
    max-height: 70vh;
    margin-bottom: 40px;
}

.Popular-artist h2 {
    margin-bottom: 50px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 10px;
    gap: 10px;
    max-height: 55vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #101010 #000000;
}

.card-container::-webkit-scrollbar {
    width: 10px;
}

.card-container::-webkit-scrollbar-track {
    background: #101010;
}

.card-container::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 2px solid #101010;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    line-height: 20px;
    width: 190px;
    position: relative;
    overflow: hidden;
    /* overflow: hidden will Eensure play button animation stays within card boundaries */
}

.card img {
    width: 170px;
    border-radius: 50%;
    aspect-ratio: 1;
    margin: 12px;
}

.card:hover {
    background-color: #131212;
    cursor: pointer;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #878484;
}

.play img {
    width: 65px;
    position: absolute;
    background-color: transparent !important;
    top: 110px;
    left: 108px;
    opacity: 0;
    transition: opacity 0.3s ease;
    /* Smooth transition for opacity */
}

.card:hover .play img {
    opacity: 1;
    animation: .5s alternate toggle forwards;
}

.play-bar {
    position: absolute;
    bottom: 12px;
    width: 100%;
    border-radius: 6px;
    background-color: var(--secondary-background);
    padding: 20px 0;

}

.song-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-right: 10px;

}

.song-buttons img {
    width: 30px;
    cursor: pointer;
    filter: invert(1);
}

.seek-bar {
    width: 98%;
    right: 11px;
    height: 4px;
    position: absolute;
    bottom: 5rem;
    background: #878484;
    border-radius: 10px;
    cursor: pointer;
}

.circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #878484;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;

}

.info-bar {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-information,
.song-time {
    color: var(--text-color);
    max-width: 102px;
    min-width: 102px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.volumeSongTimeWrapper {
    display: flex;
    align-items: center;
}

.volume {
    display: flex;
    gap: 8px;
    align-items: center;
}

.volume img {
    filter: invert(1);
    cursor: pointer;
}

.range input {
    filter: invert(1);
}

.range input:hover {
    cursor: pointer;
}

/* Media Queries */

@media (max-width: 1100px) {

    .left {
        position: absolute;
        left: -110%;
        transition: all 0.5s ease-in-out;
        z-index: 1;
        width: 330px;
    }

    .right {
        width: 100vw;
    }

    .play-bar {
        width: 98vw;
        right: 4px;
        position: fixed;
        background-color: #0e2024;
    }

    .seek-bar {
        right: 4px;
        background-color: #3d708e;
        bottom: 86px;
    }

    .circle {
        background-color: #3d708e;

    }

    .info-bar {
        padding: 16px 30px;
    }

    .hamburger {
        display: block;
    }

    .hamburger img {
        width: 35px;
        cursor: pointer;
    }

    #left-arrow,
    #right-arrow {
        display: none;
    }

    #close-icon {
        display: block;
        filter: invert(1);
        width: 38px;
        position: absolute;
        right: 10px;
        margin: 13px 2px;
        cursor: pointer;
    }


}

@media (max-width: 770px) {


    .card-container {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        overflow: auto;
    }
}

@media (max-width: 435px) {


    .card-container {
        grid-template-columns: 1fr;
        place-items: center;
        overflow: auto;
        /* gap: 100px; */
    }

    .card {
        margin: 70px 0;
    }
}

@media (max-width: 415px) {


    .card-container {
        grid-template-columns: 1fr;
        place-items: center;
        overflow: auto;
        gap: 160px;
    }

    .card {
        width: 100%;
        height: 100%;
        margin: 150px 0;
        background-color: var(--secondary-background);
        border-radius: 10px;
    }

    .card img {
        width: 250px;
    }

    .card h3 {
        font-size: 50px;
        line-height: 80px;
    }

    .card p {
        font-size: 30px;
    }

    .play img {
        display: none;
    }

    .volumeSongTimeWrapper {
        flex-direction: column;
        flex-direction: column;
        padding: -8px;
        position: relative;
        top: 14px;
        left: 9px;

    }

    .volume img {
        position: relative;
        right: 37px;
        gap: 11px;
        margin-top: 0px;
        top: 11px;
    }

    .range input {
        width: 50px;
        position: absolute;
        left: 28px;
        top: 31px;
    }
}





@keyframes toggle {
    0% {
        opacity: 0;
        top: 130px;
    }

    100% {
        opacity: 1;
        top: 110px;
    }
}